
body {
	background: #5291F9;
}
.login-form {
	width: 300px;
	margin: 50px auto 30px;
	padding: 10px;
	position: relative;
	font-family: Arial;
	color: grey;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 5px;
}
.login-form h1{
	font-size: 22px;
	text-align: center;
}
.login-form input[type=text],
.login-form input[type=password] {
	width: 92%;
	padding: 8px;
	margin-bottom: 0px;
	border: 1px solid #D9D2D2;
	text-align: center;
	background:#EFECEC;
	font-size: 13px;
	border-radius: 3px;
	margin: 6px;
}
.login-form input[type=submit] {
	width: 98%;
	padding: 8px;
	background: #5291F9;
	border: 1px solid #2873EE;
	color: #FFFFFF;
	border-radius: 3px;
	margin: 6px;
}
.Lost {
	text-decoration:underline;
	margin: 5px;
}