body {
  font: Arial;
  color: #FFFFFF;
  background: #2E335F;
}

.container {
  margin: 100px auto;
  width: 640px;

}

.container .cal {
  margin: 0 auto;
}

.cal {
  display: block;
  width: 245px;
  background:#D6D1D1;
}

.cal a {
  text-decoration: none;
}

.cal caption {
  display: block;
  line-height: 32px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background: #FB9292;
}

.cal caption a {
  display: block;
  line-height: 32px;
  padding: 0 10px;
  font-size: 15px;
  color: #777373;
}

.cal caption .prev {
  float: left;
}

.cal caption .next {
  float: right;
}

.cal th, .cal td {
  width: 40px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.cal th:first-child, .cal td:first-child {
  border-left: 0;
}

.cal th {
  line-height: 25px;
  font-size: 10px;
  color: #696969;
  text-transform: uppercase;
  background: #ECE5E5;
}

.cal td {
  font-size: 9px;
  font-weight: bold;
  border-top: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
  background: #ECE5E5;
}

.cal td a {
  clear: both;
  display: block;
  position: relative;
  width: 30px;
  line-height: 28px;
  color: #666;
}
.cal td.off a {
  color: #b3b3b3;
}
.cal td.active a, .cal td a:active {
  margin: -1px;
  color: #f3f3f3;
  background: #FB9292;
  border: 1px solid #598b94;
}
